body {
	font-family: Ubuntu;
	font-size: 20px;
	background-color: whitesmoke;
	}
.divPageBody {
	width: 80%;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
.divVersionNumber {
	font-size: 12px;
	float: right;
	padding: 19px;
	}


.iMenuCheck {
	margin-left: -20px;
	}




.tableEditors {
	width: 100%;
	}
.tableEditors .tdEditor {
	vertical-align: top;
	width: 48%;
	}
.tableEditors .tdSpacer {
	width: 25px;
	}
.divCodeEditor, .divCodeTree {
	min-height: 600px;
	border: 1px solid silver;
	background-color: white;
	padding: 3px;
	}

.divButtons {
	margin-bottom: 10px;
	}
.divButtons button {
	font-size: 14px;
	width: 90px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: 10px;
	}

.divAttsDisplay {
	float: right;
	font-size: 14px;
	margin-top: 28px;
	margin-left: -5px;
	}

.divFixedControls {
	position: fixed;
	top: 55;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	
	padding-top: 35px;
	
	z-index: 2;
	background-color: whitesmoke;
	}
.divEditors { 
	padding-top: 50px;
	}
